* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

.menu-responsive {
    display: none;
}


#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #F3F3F3;
    align-items: center;

}

#logo {
    color: #707070;
    font-size: 59px;
    margin-left: 47px;
    cursor: pointer;
}

#logo:hover {
    transition: 0.1s;
    font-size: 65px;
    transform: rotate(30deg);
}

.nav-links {
    display: flex;
    margin-right: 47px;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    width: 164px;
    height: 43px;
    background-color: #FFFFFF;
    border:1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    transition: 0.5s;
    border-radius: 10px;
}

.nav-links li:hover {
    box-shadow: 0 3px 6px;
    transition: 0.5s;
}

.nav-links li a {
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
}

#hola-texto {
    display: block;
    font-size: 102px;
    color: #707070;
    font-weight: bold;
    padding-left: 185px;
    margin-top: 130px;
}

.texto1 {
    font-size: 32px;
    color: #707070;
    font-weight: 400;
    padding-left: 191px;
    padding-top: 16px;
}

.texto2 {
    padding-top: 25px;
    padding-left: 193px;
    font-weight: 350;
}

.img-fotografia {
    max-width: 540px;
    margin-left: 248px;
    margin-right: 144px;
    margin-top: 98px;
    box-shadow: 0 3px 20px;
}

.botones {
    margin-left: 195px;
    height: 50%;
    margin-top: 40px;
    
}

.boton {
    width: 207px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 60px;
    margin-top: 10px;
    background-color: #EEEEEE;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.boton:hover {
    box-shadow: 0 2px 6px;
    transition: 0.5s;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #F3F3F3;
    position: fixed;
    bottom: 0%;
    margin-top: 100px;
}

.redes-sociales {
    font-size: 55px;

    padding: 10px;
    display: flex;
    justify-content: center;
}

.redes-sociales i {
    padding: 0 60px;
    cursor: pointer;
    transition: 0.1s;
    
}



.fa-linkedin:hover {
    color: #0072b1;
    transition: 0.2s;
}

.fa-youtube:hover {
    color: #FF0000;
    transition: 0.2s;
}

.fa-instagram:hover {
    color: #8a3ab9;
    transition: 0.2s;
}


@media (max-width:1468px) {
    footer {
        height: 60px;
        margin-top: 10px;
    }
    
    .redes-sociales {
        font-size: 25px;
    }
}

@media (max-width:1250px) {
    

    .main {
        display: block;
        
    }

    .foto {
        display: flex;
        justify-content: center;
        margin:5px;
    }

    .img-fotografia {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 80px;
        width: 300px;
    }
    .pantalla-texto {
        display: flex;
        flex-direction: column;
        height: 40vh;
        align-items: center;
        justify-content: space-evenly;
        padding: 35px;
    }

    .botones {
        margin-left: 25px;
        margin-right: 25px;
        padding: 0;
        
    }

    .boton {
        margin: 0;
        padding: 0;
    }

    #hola-texto {
        display: block;
        margin:5px;
        padding: 0;
        
    }

    .texto1 {
        margin:5px;
        padding: 0;
        text-align: center;
    }
    .texto2 {
        margin:5px;
        padding: 0;
        text-align: center;
    }
}


@media (max-width:1024px) {

    /* MENU RESPONSIVO */
    .nav-links {
        display: none;
        position: absolute;
        margin: 0%;
        top: 80px;
        right: 0%;
        width: 100%;     
    }

    .nav-links li {
        width: 100%;
        background-color: #F3F3F3;
        border: none;
        border-radius: 0%;
        height: 90px;
    }

    .menu-responsive {
        display: block;
        position: absolute;
        right: 10%;
        font-size: 35px;
        cursor: pointer;
    }

    .menu-responsivo-activo {
        display: block;
    }

    #navbar {
        height: 80px;
    }

    #logo {
        color: #707070;
        font-size: 39px;
        margin-left: 47px;
        cursor: pointer;
    }
    
    #logo:hover {
        transition: 0.1s;
        font-size: 45px;
        transform: rotate(30deg);
    }

    
}

@media (min-width:415px) and (max-width:1023px) {
    .main {
        margin-top: 40px;
    }
    .botones {
        display: none;
    }
    #hola-texto {
        font-size: 74px;
    }
}

@media (max-width:414px) {
    .botones {
        display: none;
    }

    .pantalla-texto {
        margin-top: 90px;
    }

    #hola-texto {
        font-size: 74px;
    }

    .img-fotografia {
        margin-top: 100px;
    }
}